<div class="col-md-2 sidebar">
    <div class="sidebar-sticky">
        <div class="nav flex-column">
            <div class=" col-2">
                <label>Filter</label>
                <form asp-controller="Home" asp-action="FilterCards" method="post">
                    <input type="search" name="color" placeholder="color" />
                    <input type="search" name="cardType" placeholder="cardType" />
                    <input type="search" name="level" placeholder="level" />
                    <input type="search" name="name" placeholder="name" />
                    <input type="checkbox" id="ShowOwned" name="showOwned" />
                    <label for="ShowOwned">Show Owned</label>
                    <button type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

