<div class="col-2 sidebar medBlueBGColor sidebar-sticky">
    <div class="">
        <div class="nav flex-column">
            <div class="col-12">
                <div class="darkBlueBoxBG round-10 m-1">
                    <p class="text-center align-middle bold p-1">Filter</p>
                </div>
            </div>
            <div class=" col-12 d-flex justify-content-start">
                <form asp-controller="Home" asp-action="FilterCards" method="post">
                    <div class="row m-1">
                        <div class="col-12">
                            <input type="checkbox" id="ShowOwned" name="showOwned" value="true" />
                            <label class="bold" for="ShowOwned"> Show Owned</label>
                        </div>
                    </div>
                    <div class="row m-1">
                        <input class="round-10 m-1" type="search" name="color" placeholder="Color" />
                        <input class="round-10 m-1" type="search" name="cardType" placeholder="Card Type" />
                        <input class="round-10 m-1" type="search" name="level" placeholder="Level" />
                        <input class="round-10 m-1" type="search" name="name" placeholder="Name" />
                        <input class="round-10 m-1" type="search" name="cardNumber" placeholder="Card Number" />
                        <input class="round-10 m-1" type="search" name="id" placeholder="ID" />
                        <input class="round-10 m-1" type="search" name="digiColor" placeholder="DigiColor" />
                        <input class="round-10 m-1" type="search" name="playCost" placeholder="Play Cost" />
                        <input class="round-10 m-1" type="search" name="cardPower" placeholder="Card Power" />
                        <input class="round-10 m-1" type="search" name="race" placeholder="Race" />
                        <input class="round-10 m-1" type="search" name="attribute" placeholder="Attribute" />
                        <input class="round-10 m-1" type="search" name="stageLevel" placeholder="StageLevel" />
                        <input class="round-10 m-1" type="search" name="rarity" placeholder="Rarity" />
                    </div>
                    <button class="align-self-start darkBlueBoxBG round-10" type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

