@model IEnumerable<Card>
<div class="row justify-content-center pageTitle">
    <h1>Card Collection</h1>
</div>
<div class="row">
    <p><partial name="_FilterPartialView.cshtml"/> </p>
    <div class="col-md-10">
        <div class="row">
            @if (Model == null)
            {
                <h1>no cards</h1>
            }
            else
            {
                foreach (var card in Model)
                {
        <div class="col-2">
            <div class="round-10 text-center bold">
                <div class="card m-2">
                    <p><partial name="_CardCollectionPartialView.cshtml" for="@card" /> </p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="col-6">
                        <form asp-controller="Home" asp-action="AddCardToCollection" method="post">
                            <input type="text" name="cardNumber" value="@card.CardNumber" hidden />
                            <button type="submit">Add Card</button>
                        </form>
                    </div>
                    <div class="col-6">
                        <form asp-controller="Home" asp-action="RemoveCardFromCollection" method="post">
                            <input type="text" name="cardNumber" value="@card.CardNumber" hidden />
                            <button type="submit">Remove Card</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
                }
            }
        </div>
    </div>
</div>