@model IEnumerable<Card>
<div class="darkBlueBGColor row justify-content-center box-shadow">
    <h1 class="text-light  p-2">Card Collection</h1>
</div>
<div class="row whiteBGColor">
    <p><partial name="_FilterPartialView.cshtml" /> </p>
    <div class="col-md-10">
        <div class="row">
            @if (Model == null)
            {
                <h1>no cards</h1>
            }
            else
            {
                foreach (var card in Model)
                {
                    <div class="col-2">
                        <div class="round-10 text-center bold">
                            <div class="round-10 medBlueBGColor m-1">
                                <partial name="_CardCollectionPartialView.cshtml" for="@card" />
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>