@model IEnumerable<Card>

}
    <div class="row justify-content-center">
        <h1>List of Cards</h1>
    </div>

    <div>
        <div class=" col-2">
            <label>Search</label>
            <form asp-controller="Home" asp-action="SeachCards" method="post">
                <input type="search" name="srchKeyTerms" placeholder="search" />
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>

    <div>
        <div class=" col-2">
            <label>Filter</label>
            <form asp-controller="Home" asp-action="FilterCards" method="post">
                <input type="search" name="color" placeholder="color" />
                <input type="search" name="cardType" placeholder="cardType" />
                <input type="search" name="level" placeholder="level" />
                <input type="search" name="name" placeholder="name" />
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>

<div class="row justify-content-center pageTitle">
    <h1>Card Collection</h1>
</div>
<div class="row">
    <p><partial name="_FilterPartialView.cshtml"/> </p>
    <div class="col-md-10">
        <div class="row">
            @if (Model == null)
            {
                <h1>no cards</h1>
            }
            else
            {
                foreach (var card in Model)
                {
                    <div class="col-lg-3 px-4">
                        <div class="round-10 text-center btn-neum-black bold">
                            <div>
                                <p><partial name="_CardPartialView.cshtml" for="@card" /> </p>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>
