@{
    ViewData["Title"] = "Deck Page";
}
@model Deck

<h1 class="text-center">Deck</h1>

<div>
    @*Buttons for the deck like changing the name, deleting the deck, or even to edit it (takes you to the deck builder)*@
</div>
<div>
    @*For each card in the deck,
        Display that card.*@
</div>
