@{
    ViewData["Title"] = "Yu-gi";
}
<div class="row">
    <div class="col-12">
        <div class="align-middle">
            <div class="text-center">
                <h1 class="display-4"> Welcome to the Card Collection Library </h1>
            </div>
        </div>
    </div>
</div>
