@{
    ViewData["Title"] = "About Us";
}
<div class="row d-flex justify-content-center whiteBGColor">
    <div class=" col-12 darkBlueBGColor text-light text-center">
        <h1>@ViewData["Title"]</h1>
    </div>
    <div class="col-6 m-5 p-2 lightBlueBoxBG round-10 text-center">

        <h4>
            Hello, first things first, we do not own any of the images found on this website, all credit is owed to those who made the images we used
            or they are from the Digimon TCG Game.  This is a class project that we were to make a website, and we had chosen to make this (As you can hopefully see).
            This Project was completed in 4-5 Weeks at the start of 2022. We hope to eventually add more to this but for now you most likely had to download
            this to make it work.
            <br />
            So Thank You for using our website, and remember to Play More Games.
        </h4>
        <h4>
            Creators: Tommy W. Alayna G. Tobie A. Andrew M. and David B.
        </h4>
    </div>
</div>
