@{
    ViewData["Title"] = "Yu-gi";
    //As a heads up this page is not fully completed yet, Nothing is styled nor is it functioning - Tommy
}
<div class="row">
    <div class="col-12">
        <div class="text-center">
            <h1>Profile</h1>
        </div>
    </div>

    <div class="col-12">
        <div class="d-flex justify-content-center border">
            <div class="col-md-6 col-sm-12">
                <span><img src="~/images/Gommamon_Placeholder.png" /></span>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="d-flex">
                    <div class="col-8">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Name: Some Weirdo</li>
                            <li class="list-group-item">Email: ThisGuyIsWeird@Email.com</li>
                            <li class="list-group-item">Username: WeirdGuy09</li>
                            <li class="list-group-item">Password: ********** </li>
                        </ul>
                    </div>
                    <div class="col-4 ">
                        <div class="row m-5">
                            <div class="col-12">
                                <form asp-controller="Home" asp-action="EditProfile">
                                    <button type="submit">Edit Profile</button>
                                </form>
                            </div>
                            @*<div class="col-12">
                                <form asp-controller="Home" asp-action="ChangePassword">
                                    <button type="submit">Change Password</button>
                                </form>
                            </div>*@
                            <div class="col-12">
                                <form asp-controller="Home" asp-action="DeleteAccount">
                                    <button class="bg-danger" type="submit">Delete Account</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row m-5">
    <div class="col-12">
        <div class="d-flex justify-content-center">
            <span>
                <button type="submit" class="border">Deck 1</button>
                <button type="submit" class="border">Deck 2</button>
                <button type="submit" class="border">Deck 3</button>
                <button type="submit" class="border">Deck 4</button>
                <button type="submit" class="border">Deck 5</button>
            </span>
        </div>
    </div>
    <div class="col-12 m-2">
        <div class="d-flex justify-content-center">
            <form asp-controller="Home" asp-action="AddDeck">
                <button type="submit" >Add Deck</button>
            </form>
        </div>
    </div>
</div>


