@model Card

@if (Model == null)
{
    <h1>No card available</h1>
}
else
{
    <div class="col-12 card medBlueBGColor round-10">
        <div class="row darkBlueBoxBG topround-10">
            <div class="col-12">
                <h3 title="@Model.Name" class="card-header text-center">@Model.Name</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <img class="cardImageSize" src="~/images/@Model.Image">
            </div>
        </div>
        <div class="row blueBoxBG bottomround-10">
            <div class="col-12 ">
                <div class="btn-group btn-group-sm align-content-center " role="group">
                    <form asp-controller="DeckBuilder" asp-action="AddCard" method="post">
                        <input type="text" name="cardNumber" value="@Model.CardNumber" hidden />
                        <button class="round-10 buttonSize m-1 p-1" type="submit">Add Card</button>
                    </form>
                    <form asp-controller="DeckBuilder" asp-action="RemoveCard" method="post">
                        <input type="text" name="cardNumber" value="@Model.CardNumber" hidden />
                        <button class="round-10 buttonSize m-1 p-1" type="submit">Remove Card</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

}
