<div class="col-12 sidebarsidebar-sticky m-2">
    <div class="">
        <div class="nav">
            <div class="col-12">
                <div class="darkBlueBoxBG round-10 m-1">
                    <p class="text-center bold">Filter</p>
                </div>
                <div class="row">
                    <form asp-controller="DeckBuilder" asp-action="FilterCards" method="post">
                        <div class="row d-flex justify-content-center">

                            <div class="col-12">
                                <div class="col-12">
                                    <input type="checkbox" id="ShowOwned" name="showOwned" value="true" />
                                    <label class="bold" for="ShowOwned"> Show Owned</label>
                                </div>
                                <div class="col-12">
                                    <input class="round-10 " type="search" name="color" placeholder="color" />
                                    <input class="round-10 " type="search" name="cardType" placeholder="cardType" />
                                    <input class="round-10 " type="search" name="level" placeholder="level" />
                                    <input class="round-10 " type="search" name="name" placeholder="name" />
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="col-12">
                                    <button class="darkBlueBoxBG round-10 float-right" type="submit">Submit</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



