<div class="col-12 sidebar">
    <div class="sidebar-sticky">
        <div class="nav">
            <div class="d-flex justify-content-center">
                <form asp-controller="Home" asp-action="FilterCards" method="post">
                    <input type="search" name="color" placeholder="color" />
                    <input type="search" name="cardType" placeholder="cardType" />
                    <input type="search" name="level" placeholder="level" />
                    <input type="search" name="name" placeholder="name" />
                    <button type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>


