@{
    ViewData["Title"] = "Yu-gi";
    //As a heads up this is not the final product of this page, I'm just setting things up ~ Tommy
}
<h1>Deck Building</h1>
<div class="row table-bordered">
    <div class="col-6 border">
        <p>Deck Side of the Deck Builder</p>
        <p>Buttons for Deck - Implement later</p> @*Was Thinking of section to name the deck and also save the deck or we need another page for a deck*@
        <p>Cards in Deck</p>
    </div>
    <div class="col-6 border">
        <p>Collection Side of the Deck Builder</p>
        <p>Display Cards</p>
    </div>
</div>